
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
   
    background-color: rgb(105, 105, 65);
    
    
    background-image: url('img/fondo.jpg'); 
    background-size: cover;           
    background-repeat: no-repeat;    
    background-attachment: fixed;     
    background-position: center;      

    color: rgb(236, 226, 168);
    font-family: 'MedievalSharp', cursive; 
}

header {
    text-align: center;
    padding: 30px;
}

h1 {
    background-color: rgb(58, 30, 21);
    border: 2px solid rgb(37, 20, 14);
    display: inline-block; 
    padding: 15px;
    border-radius: 8px; 
}

.barra {
    background-color: rgb(46, 31, 8);
    border: 2px solid rgb(92, 64, 11);
    padding: 10px;
    transition: all 0.3s ease; 
}

.barra:hover {
    color: rgb(254, 240, 255);
    background-color: rgb(30, 25, 80);
    cursor: pointer;
}


.consigna {
    background-color: rgb(46, 31, 8);
    padding: 30px;
    border: 2px solid rgb(92, 64, 11);
    margin: 20px;
}

article {
    font-size: larger;
}


.Proceso {
    background-color: rgb(46, 31, 8);
    padding: 30px;
    border: 2px solid rgb(92, 64, 11);
    margin: 20px;
}


.Proceso strong {
    color: rgb(96, 90, 172);
}


.cartas strong {
    background-color: navajowhite;
    color: rgb(96, 90, 172);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: auto;
    padding: 5px 10px;
    border-radius: 4px;
}

.imagenes {
    padding: 30px;
}
